<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>students</title>
</head>
<body>
<table>
    <tr>
        <th>first_name</th>
        <th>last_name</th>
        <th>age</th>
    </tr>
    {% for keys in data %}
<!--        {% for items in data['items'] %}-->
            <tr>
                <td>
                    {{ keys }}
                </td>
                <td>
                    {{ keys }}
                </td>
                <td>
                    {{ keys }}
                </td>
            </tr>
<!--        {% endfor %}-->
    {% endfor %}
</table>
</body>
</html>